doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Museo
        
        link(rel="stylesheet", href="/styles/principal.css")
    body 
     h1#titulo Obras de Arte
     .content
      section#menu
        nav
          ul
            li: a(href="#obras") Obras de Arte
            li: a(href="#contacto") Contacto
        label(for="opciones") Elige un departamento: 
        
        select#opciones 
         option(value="") Opciones
         each departamento in departamentos
          option(value=departamento.id)= departamento.nombre
        button#filtrarBtn Filtrar Obras
        a#limpiarBtn(href="/") Limpiar filtro

      section#obras
        .grid 
         each obra in obrasDeArte
          .grid-item
            img(src=obra.imagenes.primaria title=`Fecha de creación: ${obra.fechaCreacion}`)
            h3= obra.titulo
            p Cultura: #{obra.cultura}
            p Dinastía: #{obra.dinastia}
            // Mostrar botón solo si hay imágenes adicionales
            if obra.imagenes.adicionales.primera !== null || obra.imagenes.adicionales.segunda !== null || obra.imagenes.adicionales.tercera !== null || obra.imagenes.adicionales.cuarta !== null
              a(href=`/imagenes/${obra.id}`) Ver más imágenes

      nav.pagination
       if pagina > 1
         if departamentoId
           a(href=`/filtrar?departamentoId=${departamentoId}&page=${pagina - 1}`) Página Anterior
         else
           a(href=`/filtrar?page=${pagina - 1}`) Página Anterior

       if departamentoId
         a(href=`/filtrar?departamentoId=${departamentoId}&page=${pagina + 1}`) Página Siguiente
       else
         a(href=`/filtrar?page=${pagina + 1}`) Página Siguiente
 
    script.
     window.obrasDeArte = !{JSON.stringify(obrasDeArte)};
     window.departamentos = !{JSON.stringify(departamentos)}
    script(src="/principal.js")
